In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('data/train.csv', index_col='ID')
test = pd.read_csv('data/test.csv', index_col='ID')

In [3]:
train['ADDRESS'].head()

ID
0               9 Crumlin Way
1    37 Sissinghurst Crescent
2               24 Tees Court
3          31 Brentham Street
4        46/1 Corkhill Street
Name: ADDRESS, dtype: object

In [4]:
def change_address(ad):
    li_ad = ad.split()
    return (li_ad[-1]).upper()

In [5]:
train['ADDR_CHANGED'] = train['ADDRESS'].apply(change_address)
test['ADDR_CHANGED'] = test['ADDRESS'].apply(change_address)

In [6]:
test['ADDR_CHANGED'].isnull().sum()

0

In [7]:
train.drop('ADDRESS', axis=1, inplace=True)
test.drop('ADDRESS', axis=1, inplace=True)

In [8]:
len(train['ADDR_CHANGED'].unique())

95

In [9]:
len(test['ADDR_CHANGED'].unique())

96

In [10]:
set(train['ADDR_CHANGED'].unique()) - set(test['ADDR_CHANGED'].unique())

{'ANCHORAGE',
 'CEDUS',
 'CUTTING',
 'EYRIE',
 'GAP',
 'GETAWAY',
 'LANTERNS',
 'MALL',
 'OUTLOOK',
 'PINNACLE',
 'REST',
 'RIDGEWAY'}

In [11]:
set(test['ADDR_CHANGED'].unique()) - set(train['ADDR_CHANGED'].unique())

{'BROADWATER',
 'CROSSWAY',
 'GLENWAY',
 'LAXTON',
 'LINKS',
 'RETURN',
 'RIVERWALK',
 'RIVERWAY',
 'SPIT',
 'TAFFRAIL',
 'TIMBERTOP',
 'TOP',
 'VIEWWAY'}

In [12]:
q = train['ADDR_CHANGED'].value_counts()

In [13]:
for i in range(len(q)):
    print(q.index[i], q.values[i])

STREET 3740
ROAD 3129
WAY 1881
AVENUE 1394
DRIVE 1244
PLACE 977
COURT 898
CRESCENT 766
LOOP 481
CLOSE 424
PARADE 284
BOULEVARD 267
TERRACE 226
LANE 202
MEWS 191
RISE 184
CIRCLE 174
CIRCUIT 174
GROVE 158
GARDENS 157
TURN 153
BEND 125
PASS 96
LINK 92
RETREAT 81
ENTRANCE 78
HIGHWAY 78
PROMENADE 67
PARKWAY 57
COVE 56
APPROACH 52
HEIGHTS 51
VISTA 48
VIEW 42
ELBOW 39
GREEN 34
MEANDER 33
GLEN 32
CHASE 28
RIDGE 26
CORNER 23
CROSS 21
RAMBLE 20
FAIRWAY 16
SQUARE 16
GLADE 15
CIRCUS 13
TRAIL 10
LOOKOUT 10
VALE 9
FAIRWAYS 9
CREST 9
KINGSWAY 9
ESPLANADE 9
GATE 8
TOR 7
GRANGE 7
EMBANKMENT 6
DALE 6
BRACE 5
BROADWAY 5
WALK 4
CONCOURSE 4
ROW 4
HILL 3
EDGE 3
BOARDWALK 2
EYRIE 2
ARCADE 2
MEAD 2
FOLLOW 2
HORSESHOE 2
BROADVIEW 2
OUTLOOK 2
BOULEVARDE 2
MALL 2
CUTTING 2
BYPASS 1
REST 1
STRAND 1
CEDUS 1
PLAZA 1
CROSSING 1
ALLEY 1
HILLWAY 1
END 1
KEY 1
ANCHORAGE 1
OAKS 1
LANTERNS 1
GETAWAY 1
RIDGEWAY 1
PINNACLE 1
OVAL 1
GAP 1

In [14]:
p = test['ADDR_CHANGED'].value_counts()

In [15]:
for i in range(len(p)):
    print(p.index[i], p.values[i])

STREET 3151
ROAD 2508
WAY 1549
AVENUE 1142
DRIVE 1009
PLACE 792
COURT 749
CRESCENT 639
LOOP 380
CLOSE 373
BOULEVARD 238
TERRACE 203
PARADE 197
LANE 161
CIRCLE 149
RISE 140
MEWS 136
CIRCUIT 133
GARDENS 127
GROVE 126
TURN 123
PASS 91
BEND 83
HIGHWAY 66
LINK 62
RETREAT 57
APPROACH 54
VISTA 53
ENTRANCE 51
COVE 50
ELBOW 50
PROMENADE 42
HEIGHTS 41
PARKWAY 41
VIEW 39
RAMBLE 29
GREEN 29
CHASE 28
CORNER 21
MEANDER 19
CROSS 16
GLEN 16
SQUARE 14
GATE 11
FAIRWAYS 10
FAIRWAY 10
RIDGE 9
CIRCUS 9
GLADE 8
VALE 7
GRANGE 7
TRAIL 7
CREST 6
BRACE 6
ESPLANADE 5
CONCOURSE 4
EDGE 4
ROW 3
BROADWAY 3
BOULEVARDE 3
DALE 3
RIVERWALK 3
KINGSWAY 3
LOOKOUT 3
WALK 2
FOLLOW 2
BYPASS 2
MEAD 2
BOARDWALK 2
HILLWAY 2
LINKS 2
EMBANKMENT 2
CROSSING 2
TOR 2
OVAL 2
HILL 2
STRAND 2
PLAZA 1
TAFFRAIL 1
BROADVIEW 1
LAXTON 1
KEY 1
TOP 1
SPIT 1
HORSESHOE 1
ARCADE 1
GLENWAY 1
RIVERWAY 1
BROADWATER 1
OAKS 1
ALLEY 1
RETURN 1
CROSSWAY 1
END 1
TIMBERTOP 1
VIEWWAY 1

In [16]:
for i in range(len(q)):
    print(f"\'{q.index[i]}\':")

'STREET':
'ROAD':
'WAY':
'AVENUE':
'DRIVE':
'PLACE':
'COURT':
'CRESCENT':
'LOOP':
'CLOSE':
'PARADE':
'BOULEVARD':
'TERRACE':
'LANE':
'MEWS':
'RISE':
'CIRCLE':
'CIRCUIT':
'GROVE':
'GARDENS':
'TURN':
'BEND':
'PASS':
'LINK':
'RETREAT':
'ENTRANCE':
'HIGHWAY':
'PROMENADE':
'PARKWAY':
'COVE':
'APPROACH':
'HEIGHTS':
'VISTA':
'VIEW':
'ELBOW':
'GREEN':
'MEANDER':
'GLEN':
'CHASE':
'RIDGE':
'CORNER':
'CROSS':
'RAMBLE':
'FAIRWAY':
'SQUARE':
'GLADE':
'CIRCUS':
'TRAIL':
'LOOKOUT':
'VALE':
'FAIRWAYS':
'CREST':
'KINGSWAY':
'ESPLANADE':
'GATE':
'TOR':
'GRANGE':
'EMBANKMENT':
'DALE':
'BRACE':
'BROADWAY':
'WALK':
'CONCOURSE':
'ROW':
'HILL':
'EDGE':
'BOARDWALK':
'EYRIE':
'ARCADE':
'MEAD':
'FOLLOW':
'HORSESHOE':
'BROADVIEW':
'OUTLOOK':
'BOULEVARDE':
'MALL':
'CUTTING':
'BYPASS':
'REST':
'STRAND':
'CEDUS':
'PLAZA':
'CROSSING':
'ALLEY':
'HILLWAY':
'END':
'KEY':
'ANCHORAGE':
'OAKS':
'LANTERNS':
'GETAWAY':
'RIDGEWAY':
'PINNACLE':
'OVAL':
'GAP':

In [17]:
dict_addr = {
    'STREET':1,
    'ROAD':2,
    'WAY':3,
    'AVENUE':4,
    'DRIVE':4,
    'PLACE':5,
    'COURT':5,
    'CRESCENT':5,
    'LOOP':6,
    'CLOSE':6,
    'PARADE':7,
    'BOULEVARD':7,
    'TERRACE':8,
    'LANE':8,
    'MEWS':8,
    'RISE':8,
    'CIRCLE':8,
    'CIRCUIT':8,
    'GROVE':9,
    'GARDENS':9,
    'TURN':9,
    'BEND':10,
    'PASS':11,
    'LINK':11,
    'RETREAT':12,
    'ENTRANCE':12,
    'HIGHWAY':12,
    'PROMENADE':13,
    'PARKWAY':13,
    'COVE':13,
    'APPROACH':13,
    'HEIGHTS':13,
    'VISTA':13,
    'VIEW':14,
    'ELBOW':14,
    'GREEN':14,
    'MEANDER':14,
    'GLEN':14,
    'CHASE':14,
    'RIDGE':14,
    'CORNER':14,
    'CROSS':14,
    'RAMBLE':14,
    'FAIRWAY':15,
    'SQUARE':15,
    'GLADE':15,
    'CIRCUS':15,
    'TRAIL':15,
    'LOOKOUT':15,
    'VALE':15,
    'FAIRWAYS':15,
    'CREST':15,
    'KINGSWAY':15,
    'ESPLANADE':15,
    'GATE':15,
    'TOR':15,
    'GRANGE':15,
    'EMBANKMENT':15,
    'DALE':15,
    'BRACE':15,
    'BROADWAY':15,
    'WALK':15,
    'CONCOURSE':15,
    'ROW':15,
    'HILL':15,
    'EDGE':15,
    'BOARDWALK':15,
    'EYRIE':15,
    'ARCADE':15,
    'MEAD':15,
    'FOLLOW':15,
    'HORSESHOE':15,
    'BROADVIEW':15,
    'OUTLOOK':15,
    'BOULEVARDE':15,
    'MALL':15,
    'CUTTING':15,
    'BYPASS':15,
    'REST':15,
    'STRAND':15,
    'CEDUS':15,
    'PLAZA':15,
    'CROSSING':15,
    'ALLEY':15,
    'HILLWAY':15,
    'END':15,
    'KEY':15,
    'ANCHORAGE':15,
    'OAKS':15,
    'LANTERNS':15,
    'GETAWAY':15,
    'RIDGEWAY':15,
    'PINNACLE':15,
    'OVAL':15,
    'GAP':15,
    'BROADWATER':15,
    'CROSSWAY':15,
    'GLENWAY':15,
    'LAXTON':15,
    'LINKS':15,
    'RETURN':15,
    'RIVERWALK':15,
    'RIVERWAY':15,
    'SPIT':15,
    'TAFFRAIL':15,
    'TIMBERTOP':15,
    'TOP':15,
    'VIEWWAY':15
}

In [18]:
train['ADDR_CHANGED'] = train['ADDR_CHANGED'].map(dict_addr)
test['ADDR_CHANGED'] = test['ADDR_CHANGED'].map(dict_addr)

In [19]:
set(test['ADDR_CHANGED'].unique()) - set(train['ADDR_CHANGED'].unique())

set()

In [20]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
FLOOR_AREA          0.539524
NEAREST_SCH_RANK    0.453937
BATHROOMS           0.386485
CBD_DIST            0.357368
BEDROOMS            0.256909
LONGITUDE           0.183514
POSTCODE            0.162925
BUILD_YEAR          0.148771
GARAGE              0.124276
ADDR_CHANGED        0.111505
NEAREST_STN_DIST    0.099370
LAND_AREA           0.046778
LATITUDE            0.046722
NEAREST_SCH_DIST    0.024030
Name: PRICE, dtype: float64

In [21]:
train.head(3)

,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK,ADDR_CHANGED
ID,,,,,,,,,,,,,,,,,,,
0,Ridgewood,520000,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0,3
1,Landsdale,575000,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN,5
2,Mindarie,760000,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0,5

In [22]:
sub_sortby_price = train[['SUBURB', 'PRICE']].groupby(by='SUBURB').mean().sort_values('PRICE', ascending=False)

sub_cols = sub_sortby_price.index

sub_dict = {}
for i, col in enumerate(sub_cols):
    sub_dict[col] = i
    
train['SUBURB'] = train['SUBURB'].map(sub_dict)
test['SUBURB'] = test['SUBURB'].map(sub_dict)

In [23]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
SUBURB              0.728402
FLOOR_AREA          0.539524
NEAREST_SCH_RANK    0.453937
BATHROOMS           0.386485
CBD_DIST            0.357368
BEDROOMS            0.256909
LONGITUDE           0.183514
POSTCODE            0.162925
BUILD_YEAR          0.148771
GARAGE              0.124276
ADDR_CHANGED        0.111505
NEAREST_STN_DIST    0.099370
LAND_AREA           0.046778
LATITUDE            0.046722
NEAREST_SCH_DIST    0.024030
Name: PRICE, dtype: float64

In [24]:
stn_sortby_price = train[['NEAREST_STN', 'PRICE']].groupby(by='NEAREST_STN').mean().sort_values('PRICE', ascending=False)

stn_cols = stn_sortby_price.index

stn_dict = {}
for i, col in enumerate(stn_cols):
    sub_dict[col] = i
    
train['NEAREST_STN'] = train['NEAREST_STN'].map(sub_dict)
test['NEAREST_STN'] = test['NEAREST_STN'].map(sub_dict)

In [25]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
SUBURB              0.728402
NEAREST_STN         0.581309
FLOOR_AREA          0.539524
NEAREST_SCH_RANK    0.453937
BATHROOMS           0.386485
CBD_DIST            0.357368
BEDROOMS            0.256909
LONGITUDE           0.183514
POSTCODE            0.162925
BUILD_YEAR          0.148771
GARAGE              0.124276
ADDR_CHANGED        0.111505
NEAREST_STN_DIST    0.099370
LAND_AREA           0.046778
LATITUDE            0.046722
NEAREST_SCH_DIST    0.024030
Name: PRICE, dtype: float64

In [26]:
test['SUBURB'] = test['SUBURB'].fillna(train['SUBURB'].mean())

In [27]:
train['DATE_SOLD'].head()

ID
0    09-2015\r
1    07-2018\r
2    02-2020\r
3    07-2020\r
4    10-2017\r
Name: DATE_SOLD, dtype: object

In [28]:
train['DATE_SOLD'][0][:2]
train['DATE_SOLD'][0][3:-1]

'2015'

In [29]:
def month_sold(date):
    return int(date[:2])

def year_sold(date):
    return int(date[3:-1])

In [30]:
train['MONTH_SOLD'] = train['DATE_SOLD'].apply(month_sold)
train['YEAR_SOLD'] = train['DATE_SOLD'].apply(year_sold)

In [31]:
test['MONTH_SOLD'] = test['DATE_SOLD'].apply(month_sold)
test['YEAR_SOLD'] = test['DATE_SOLD'].apply(year_sold)

In [32]:
train.drop('DATE_SOLD', axis=1, inplace=True)
test.drop('DATE_SOLD', axis=1, inplace=True)

In [33]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
SUBURB              0.728402
NEAREST_STN         0.581309
FLOOR_AREA          0.539524
NEAREST_SCH_RANK    0.453937
BATHROOMS           0.386485
CBD_DIST            0.357368
BEDROOMS            0.256909
LONGITUDE           0.183514
POSTCODE            0.162925
BUILD_YEAR          0.148771
GARAGE              0.124276
ADDR_CHANGED        0.111505
NEAREST_STN_DIST    0.099370
YEAR_SOLD           0.084380
LAND_AREA           0.046778
LATITUDE            0.046722
NEAREST_SCH_DIST    0.024030
MONTH_SOLD          0.001545
Name: PRICE, dtype: float64

In [34]:
train.corr()['GARAGE'].abs().sort_values(ascending=False)

GARAGE              1.000000
FLOOR_AREA          0.186341
BATHROOMS           0.181213
BEDROOMS            0.180447
PRICE               0.124276
NEAREST_STN_DIST    0.101591
NEAREST_SCH_DIST    0.094102
LONGITUDE           0.085201
SUBURB              0.058986
BUILD_YEAR          0.045461
LAND_AREA           0.042186
CBD_DIST            0.042033
NEAREST_STN         0.025495
POSTCODE            0.019979
NEAREST_SCH_RANK    0.014924
YEAR_SOLD           0.014896
LATITUDE            0.011987
MONTH_SOLD          0.008099
ADDR_CHANGED        0.002280
Name: GARAGE, dtype: float64

In [35]:
train['GARAGE'].fillna(2.0, inplace=True)
test['GARAGE'].fillna(2.0, inplace=True)

In [36]:
test['GARAGE'].isnull().sum()

0

In [37]:
train.corr()['BUILD_YEAR'].abs().sort_values(ascending=False)

BUILD_YEAR          1.000000
BATHROOMS           0.345848
ADDR_CHANGED        0.284069
CBD_DIST            0.258332
BEDROOMS            0.234275
FLOOR_AREA          0.230423
NEAREST_STN         0.207732
SUBURB              0.190621
NEAREST_SCH_RANK    0.151206
PRICE               0.148771
NEAREST_SCH_DIST    0.096881
NEAREST_STN_DIST    0.090911
YEAR_SOLD           0.082095
LONGITUDE           0.063877
LATITUDE            0.045702
GARAGE              0.044824
POSTCODE            0.038833
LAND_AREA           0.009614
MONTH_SOLD          0.001515
Name: BUILD_YEAR, dtype: float64

In [38]:
train.columns

Index(['SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE', 'NEAREST_SCH',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'ADDR_CHANGED', 'MONTH_SOLD',
       'YEAR_SOLD'],
      dtype='object')

In [39]:
bui = train[['SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'ADDR_CHANGED', 'MONTH_SOLD',
       'YEAR_SOLD', 'BUILD_YEAR']]
bui.head(3)

,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,ADDR_CHANGED,MONTH_SOLD,YEAR_SOLD,BUILD_YEAR
ID,,,,,,,,,,,,,,,,,
0,272,5,2,4.0,674,266,35500,59,3000,6030,-31.656206,115.720566,1.079230,3,9,2015,2007.0
1,178,5,4,2.0,540,301,16900,31,8100,6065,-31.800802,115.867675,0.667585,5,7,2018,2014.0
2,96,4,2,2.0,781,220,33500,46,3500,6030,-31.682040,115.702600,0.650761,5,2,2020,1992.0

In [40]:
bui_train = bui[bui['BUILD_YEAR'].notnull()]
bui_test = bui[bui['BUILD_YEAR'].isnull()][['SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'ADDR_CHANGED', 'MONTH_SOLD',
       'YEAR_SOLD', 'BUILD_YEAR']]
bui_X = bui_train[['SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'ADDR_CHANGED', 'MONTH_SOLD',
       'YEAR_SOLD']]
bui_y = bui_train['BUILD_YEAR']

In [41]:
from sklearn.ensemble import HistGradientBoostingRegressor

hgbr = HistGradientBoostingRegressor()

In [42]:
from sklearn.model_selection import cross_val_score

In [43]:
hgbr_result = cross_val_score(hgbr, bui_X, bui_y, cv=5)

print('hgbr_result:', hgbr_result)
print('hgbr_mean:', hgbr_result.mean())

hgbr_result: [0.56094926 0.58101343 0.56854003 0.57067422 0.59675506]
hgbr_mean: 0.5755863990725464

In [44]:
hgbr.fit(bui_X, bui_y)

HistGradientBoostingRegressor()

In [45]:
bui_pre = hgbr.predict(bui_test[['SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'ADDR_CHANGED', 'MONTH_SOLD',
       'YEAR_SOLD']])

In [46]:
bui_test['BUILD_YEAR'] = bui_pre

In [47]:
train['BUILD_YEAR'].fillna(bui_test['BUILD_YEAR'], inplace=True)
train['BUILD_YEAR'].isnull().sum()

0

In [48]:
bui = test[['SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'ADDR_CHANGED', 'MONTH_SOLD',
       'YEAR_SOLD', 'BUILD_YEAR']]
bui.head(3)

,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,ADDR_CHANGED,MONTH_SOLD,YEAR_SOLD,BUILD_YEAR
ID,,,,,,,,,,,,,,,,,
18510,124.0,3,2,3.0,2199,159,29600,41,15600,6073,-31.899705,116.166117,1.341198,1,3,2019,1950.0
18511,15.0,4,3,2.0,509,341,8200,16,2000,6152,-32.018620,115.858900,0.882405,14,8,2017,2001.0
18512,59.0,4,3,2.0,725,251,10500,21,2700,6154,-32.042090,115.826290,1.639635,3,7,2018,1982.0

In [49]:
bui_test = bui[bui['BUILD_YEAR'].isnull()][['SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'ADDR_CHANGED', 'MONTH_SOLD',
       'YEAR_SOLD', 'BUILD_YEAR']]

In [50]:
bui_pre = hgbr.predict(bui_test[['SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'ADDR_CHANGED', 'MONTH_SOLD',
       'YEAR_SOLD']])

In [51]:
bui_test['BUILD_YEAR'] = bui_pre

In [52]:
test['BUILD_YEAR'].fillna(bui_test['BUILD_YEAR'], inplace=True)
test['BUILD_YEAR'].isnull().sum()

0

In [53]:
train['YEAR_DIFF'] = train['YEAR_SOLD'] - train['BUILD_YEAR']
test['YEAR_DIFF'] = test['YEAR_SOLD'] - test['BUILD_YEAR']

In [54]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
SUBURB              0.728402
NEAREST_STN         0.581309
FLOOR_AREA          0.539524
NEAREST_SCH_RANK    0.453937
BATHROOMS           0.386485
CBD_DIST            0.357368
BEDROOMS            0.256909
LONGITUDE           0.183514
YEAR_DIFF           0.168664
POSTCODE            0.162925
BUILD_YEAR          0.154241
GARAGE              0.121527
ADDR_CHANGED        0.111505
NEAREST_STN_DIST    0.099370
YEAR_SOLD           0.084380
LAND_AREA           0.046778
LATITUDE            0.046722
NEAREST_SCH_DIST    0.024030
MONTH_SOLD          0.001545
Name: PRICE, dtype: float64

In [55]:
train[['NEAREST_SCH', 'NEAREST_SCH_RANK']].groupby('NEAREST_SCH').mean().sort_values('NEAREST_SCH_RANK')

                                      NEAREST_SCH_RANK
NEAREST_SCH
PERTH MODERN SCHOOL                                1.0
ST HILDA'S ANGLICAN SCHOOL FOR GIRLS               2.0
CHRIST CHURCH GRAMMAR SCHOOL                       3.0
PENRHOS COLLEGE                                    4.0
METHODIST LADIES' COLLEGE                          5.0
...                                                ...
TREETOPS MONTESSORI SCHOOL                         NaN
WARNBRO COMMUNITY HIGH SCHOOL                      NaN
WARWICK SENIOR HIGH SCHOOL                         NaN
YANCHEP SECONDARY COLLEGE                          NaN
YOUTH FUTURES COMMUNITY SCHOOL                     NaN

[159 rows x 1 columns]

In [56]:
train.corr()['NEAREST_SCH_RANK'].abs().sort_values(ascending=False)

NEAREST_SCH_RANK    1.000000
SUBURB              0.500715
NEAREST_STN         0.477699
PRICE               0.453937
CBD_DIST            0.324407
LONGITUDE           0.244113
POSTCODE            0.190799
NEAREST_STN_DIST    0.184562
YEAR_DIFF           0.160461
NEAREST_SCH_DIST    0.155208
BUILD_YEAR          0.154883
FLOOR_AREA          0.136373
ADDR_CHANGED        0.116773
BATHROOMS           0.095940
LATITUDE            0.050500
YEAR_SOLD           0.035555
LAND_AREA           0.034244
BEDROOMS            0.029626
GARAGE              0.012876
MONTH_SOLD          0.002245
Name: NEAREST_SCH_RANK, dtype: float64

In [57]:
train.columns

Index(['SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE', 'LAND_AREA',
       'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE', 'NEAREST_SCH',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'ADDR_CHANGED', 'MONTH_SOLD',
       'YEAR_SOLD', 'YEAR_DIFF'],
      dtype='object')

In [58]:
sch = train[['SUBURB', 'PRICE', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'YEAR_DIFF', 'NEAREST_SCH_RANK']]
sch.head()

,SUBURB,PRICE,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,POSTCODE,LONGITUDE,NEAREST_SCH_DIST,YEAR_DIFF,NEAREST_SCH_RANK
ID,,,,,,,,,,,,
0,272,520000,266,2007.0,35500,59,3000,6030,115.720566,1.079230,8.0,120.0
1,178,575000,301,2014.0,16900,31,8100,6065,115.867675,0.667585,4.0,NaN
2,96,760000,220,1992.0,33500,46,3500,6030,115.702600,0.650761,28.0,111.0
3,44,1230000,185,1938.0,3500,19,1500,6016,115.838181,0.484465,82.0,106.0
4,18,2010000,186,2004.0,12900,14,800,6159,115.759626,1.869050,13.0,25.0

In [61]:
sch_train = sch[sch['NEAREST_SCH_RANK'].notnull()]
sch_test = sch[sch['NEAREST_SCH_RANK'].isnull()][['SUBURB', 'PRICE', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'YEAR_DIFF', 'NEAREST_SCH_RANK']]
sch_X = sch_train[['SUBURB', 'PRICE', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'YEAR_DIFF']]
sch_y = sch_train['NEAREST_SCH_RANK']

In [62]:
from sklearn.ensemble import HistGradientBoostingRegressor
hgbr = HistGradientBoostingRegressor()

In [63]:
from sklearn.model_selection import cross_val_score

In [64]:
sch_result = cross_val_score(hgbr, sch_X, sch_y, cv=5)

In [65]:
print(sch_result)
print(sch_result.mean())

[0.91417974 0.90754036 0.90649141 0.91220409 0.90770094]
0.9096233086339927

In [66]:
hgbr.fit(sch_X, sch_y)

HistGradientBoostingRegressor()

In [68]:
sch_pre = hgbr.predict(sch_test[['SUBURB', 'PRICE', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'YEAR_DIFF']])

In [69]:
sch_test['NEAREST_SCH_RANK'] = sch_pre

In [70]:
train['NEAREST_SCH_RANK'].fillna(sch_test['NEAREST_SCH_RANK'], inplace=True)
train['NEAREST_SCH_RANK'].isnull().sum()

0

In [71]:
train[['NEAREST_SCH', 'NEAREST_SCH_RANK']].groupby('NEAREST_SCH').mean().sort_values('NEAREST_SCH_RANK')

                                      NEAREST_SCH_RANK
NEAREST_SCH
PERTH MODERN SCHOOL                                1.0
ST HILDA'S ANGLICAN SCHOOL FOR GIRLS               2.0
CHRIST CHURCH GRAMMAR SCHOOL                       3.0
PENRHOS COLLEGE                                    4.0
METHODIST LADIES' COLLEGE                          5.0
...                                                ...
BALCATTA SENIOR HIGH SCHOOL                      135.0
SAFETY BAY SENIOR HIGH SCHOOL                    136.0
DARLING RANGE SPORTS COLLEGE                     137.0
GILMORE COLLEGE                                  138.0
CECIL ANDREWS COLLEGE                            139.0

[159 rows x 1 columns]

In [72]:
train['NEAREST_SCH_RANK'].head()

ID
0    120.000000
1     87.329162
2    111.000000
3    106.000000
4     25.000000
Name: NEAREST_SCH_RANK, dtype: float64

In [73]:
set(test['NEAREST_SCH']) - set(train['NEAREST_SCH'])

{'SOUTH METROPOLITAN YOUTH LINK COMMUNITY COLLEGE'}

In [79]:
k = train['NEAREST_SCH_RANK'].mean()

In [80]:
a = train[['NEAREST_SCH', 'NEAREST_SCH_RANK']]['NEAREST_SCH']
b = train[['NEAREST_SCH', 'NEAREST_SCH_RANK']]['NEAREST_SCH_RANK']

In [81]:
a[3]

'ARANMORE CATHOLIC COLLEGE'

In [82]:
ns_dict = {}

for i in range(len(a)):
    ns_dict[a[i]] = b[i]

In [83]:
ns_dict['SOUTH METROPOLITAN YOUTH LINK COMMUNITY COLLEGE'] = k

In [84]:
test['NEAREST_SCH_RANK'] = test['NEAREST_SCH'].map(ns_dict)

In [85]:
train.drop('NEAREST_SCH', axis=1, inplace=True)
test.drop('NEAREST_SCH', axis=1, inplace=True)

In [86]:
from sklearn.ensemble import HistGradientBoostingRegressor

In [87]:
hgbr = HistGradientBoostingRegressor()

In [88]:
from sklearn.model_selection import cross_val_score

y_train = train.pop('PRICE')
X_train = train

In [89]:
hgbr_result = cross_val_score(hgbr, X_train, y_train, cv=5)


print('hgbr_result:', hgbr_result)
print('hgbr_mean:', hgbr_result.mean())

hgbr_result: [0.83215003 0.85181699 0.86268402 0.85033268 0.83803841]
hgbr_mean: 0.8470044248250227

In [90]:
from sklearn.preprocessing import StandardScaler

In [91]:
#  
scaler = StandardScaler()

#     
scaler.fit(X_train)

#  
tf_X_train = scaler.transform(X_train)
tf_test = scaler.transform(test)

In [92]:
hgbr_result = cross_val_score(hgbr, tf_X_train, y_train, cv=5)

print('hgbr_result:', hgbr_result)
print('hgbr_mean:', hgbr_result.mean())

hgbr_result: [0.83044939 0.84919674 0.85975208 0.85158005 0.84003999]
hgbr_mean: 0.8462036495872989

In [94]:
# 
hgbr.fit(X_train, y_train)
hgbr_pre = hgbr.predict(test)

#   
result = pd.read_csv('data/sample_submission.csv')

#  
result['PRICE'] = hgbr_pre

# df -> csv 
result.to_csv('try04_hgbr.csv', index=False)

In [95]:
hgbr2 = HistGradientBoostingRegressor()


# 
hgbr2.fit(tf_X_train, y_train)
hgbr2_pre = hgbr2.predict(tf_test)

#   
result = pd.read_csv('data/sample_submission.csv')

#  
result['PRICE'] = hgbr2_pre

# df -> csv 
result.to_csv('try04_hgbr2.csv', index=False)