In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('data/train.csv', index_col='ID')
test = pd.read_csv('data/test.csv', index_col='ID')

In [3]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
FLOOR_AREA          0.539524
NEAREST_SCH_RANK    0.453937
BATHROOMS           0.386485
CBD_DIST            0.357368
BEDROOMS            0.256909
LONGITUDE           0.183514
POSTCODE            0.162925
BUILD_YEAR          0.148771
GARAGE              0.124276
NEAREST_STN_DIST    0.099370
LAND_AREA           0.046778
LATITUDE            0.046722
NEAREST_SCH_DIST    0.024030
Name: PRICE, dtype: float64

In [4]:
train['NEAREST_STN_DIST'].describe()

count    18510.000000
mean      4540.610535
std       4534.872190
min         46.000000
25%       1800.000000
50%       3200.000000
75%       5300.000000
max      35500.000000
Name: NEAREST_STN_DIST, dtype: float64

In [5]:
train['LAND_AREA'].sort_values(ascending=False).head()

ID
14806    999999
4115     999999
11523    999999
12373    983690
10191    566786
Name: LAND_AREA, dtype: int64

In [6]:
# 4115, 11523, 14806, 12373

train.drop(4115, inplace=True)
train.drop(11523, inplace=True)
train.drop(14806, inplace=True)
train.drop(12373, inplace=True)

In [7]:
train['GARAGE'].sort_values(ascending=False).head()

ID
12576    99.0
3566     32.0
10928    26.0
10735    21.0
500      20.0
Name: GARAGE, dtype: float64

In [8]:
train.drop(12576, inplace=True)

In [9]:
train['ADDRESS'].head()

ID
0               9 Crumlin Way
1    37 Sissinghurst Crescent
2               24 Tees Court
3          31 Brentham Street
4        46/1 Corkhill Street
Name: ADDRESS, dtype: object

In [10]:
def change_address(ad):
    li_ad = ad.split()
    return (li_ad[-1]).upper()

In [11]:
train['ADDRESS'] = train['ADDRESS'].apply(change_address)
test['ADDRESS'] = test['ADDRESS'].apply(change_address)

In [12]:
dict_addr = {
    'STREET':1,
    'ROAD':2,
    'WAY':3,
    'AVENUE':4,
    'DRIVE':4,
    'PLACE':5,
    'COURT':5,
    'CRESCENT':5,
    'LOOP':6,
    'CLOSE':6,
    'PARADE':7,
    'BOULEVARD':7,
    'TERRACE':8,
    'LANE':8,
    'MEWS':8,
    'RISE':8,
    'CIRCLE':8,
    'CIRCUIT':8,
    'GROVE':9,
    'GARDENS':9,
    'TURN':9,
    'BEND':10,
    'PASS':11,
    'LINK':11,
    'RETREAT':12,
    'ENTRANCE':12,
    'HIGHWAY':12,
    'PROMENADE':13,
    'PARKWAY':13,
    'COVE':13,
    'APPROACH':13,
    'HEIGHTS':13,
    'VISTA':13,
    'VIEW':14,
    'ELBOW':14,
    'GREEN':14,
    'MEANDER':14,
    'GLEN':14,
    'CHASE':14,
    'RIDGE':14,
    'CORNER':14,
    'CROSS':14,
    'RAMBLE':14,
    'FAIRWAY':15,
    'SQUARE':15,
    'GLADE':15,
    'CIRCUS':15,
    'TRAIL':15,
    'LOOKOUT':15,
    'VALE':15,
    'FAIRWAYS':15,
    'CREST':15,
    'KINGSWAY':15,
    'ESPLANADE':15,
    'GATE':15,
    'TOR':15,
    'GRANGE':15,
    'EMBANKMENT':15,
    'DALE':15,
    'BRACE':15,
    'BROADWAY':15,
    'WALK':15,
    'CONCOURSE':15,
    'ROW':15,
    'HILL':15,
    'EDGE':15,
    'BOARDWALK':15,
    'EYRIE':15,
    'ARCADE':15,
    'MEAD':15,
    'FOLLOW':15,
    'HORSESHOE':15,
    'BROADVIEW':15,
    'OUTLOOK':15,
    'BOULEVARDE':15,
    'MALL':15,
    'CUTTING':15,
    'BYPASS':15,
    'REST':15,
    'STRAND':15,
    'CEDUS':15,
    'PLAZA':15,
    'CROSSING':15,
    'ALLEY':15,
    'HILLWAY':15,
    'END':15,
    'KEY':15,
    'ANCHORAGE':15,
    'OAKS':15,
    'LANTERNS':15,
    'GETAWAY':15,
    'RIDGEWAY':15,
    'PINNACLE':15,
    'OVAL':15,
    'GAP':15,
    'BROADWATER':15,
    'CROSSWAY':15,
    'GLENWAY':15,
    'LAXTON':15,
    'LINKS':15,
    'RETURN':15,
    'RIVERWALK':15,
    'RIVERWAY':15,
    'SPIT':15,
    'TAFFRAIL':15,
    'TIMBERTOP':15,
    'TOP':15,
    'VIEWWAY':15
}

In [13]:
train['ADDRESS'] = train['ADDRESS'].map(dict_addr)
test['ADDRESS'] = test['ADDRESS'].map(dict_addr)

In [14]:
set(test['ADDRESS'].unique()) - set(train['ADDRESS'].unique())

set()

In [15]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
FLOOR_AREA          0.539515
NEAREST_SCH_RANK    0.454122
BATHROOMS           0.386566
CBD_DIST            0.357340
BEDROOMS            0.256913
LONGITUDE           0.183518
POSTCODE            0.163032
GARAGE              0.148633
BUILD_YEAR          0.148597
ADDRESS             0.111505
NEAREST_STN_DIST    0.099240
LAND_AREA           0.081050
LATITUDE            0.046942
NEAREST_SCH_DIST    0.024078
Name: PRICE, dtype: float64

In [16]:
train.head(3)

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
ID,,,,,,,,,,,,,,,,,,,
0,3,Ridgewood,520000,5,2,4.0,674,266,2007.0,35500,Butler Station,3000,09-2015\r,6030,-31.656206,115.720566,IRENE MCCORMACK CATHOLIC COLLEGE,1.079230,120.0
1,5,Landsdale,575000,5,4,2.0,540,301,2014.0,16900,Whitfords Station,8100,07-2018\r,6065,-31.800802,115.867675,LANDSDALE CHRISTIAN SCHOOL,0.667585,NaN
2,5,Mindarie,760000,4,2,2.0,781,220,1992.0,33500,Clarkson Station,3500,02-2020\r,6030,-31.682040,115.702600,MINDARIE SENIOR COLLEGE,0.650761,111.0

In [17]:
sub_sortby_price = train[['SUBURB', 'PRICE']].groupby(by='SUBURB').mean().sort_values('PRICE', ascending=False)

sub_cols = sub_sortby_price.index

sub_dict = {}
for i, col in enumerate(sub_cols):
    sub_dict[col] = i
    
train['SUBURB'] = train['SUBURB'].map(sub_dict)
test['SUBURB'] = test['SUBURB'].map(sub_dict)

In [18]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
SUBURB              0.728384
FLOOR_AREA          0.539515
NEAREST_SCH_RANK    0.454122
BATHROOMS           0.386566
CBD_DIST            0.357340
BEDROOMS            0.256913
LONGITUDE           0.183518
POSTCODE            0.163032
GARAGE              0.148633
BUILD_YEAR          0.148597
ADDRESS             0.111505
NEAREST_STN_DIST    0.099240
LAND_AREA           0.081050
LATITUDE            0.046942
NEAREST_SCH_DIST    0.024078
Name: PRICE, dtype: float64

In [19]:
stn_sortby_price = train[['NEAREST_STN', 'PRICE']].groupby(by='NEAREST_STN').mean().sort_values('PRICE', ascending=False)

stn_cols = stn_sortby_price.index

stn_dict = {}
for i, col in enumerate(stn_cols):
    sub_dict[col] = i
    
train['NEAREST_STN'] = train['NEAREST_STN'].map(sub_dict)
test['NEAREST_STN'] = test['NEAREST_STN'].map(sub_dict)

In [20]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
SUBURB              0.728384
NEAREST_STN         0.581367
FLOOR_AREA          0.539515
NEAREST_SCH_RANK    0.454122
BATHROOMS           0.386566
CBD_DIST            0.357340
BEDROOMS            0.256913
LONGITUDE           0.183518
POSTCODE            0.163032
GARAGE              0.148633
BUILD_YEAR          0.148597
ADDRESS             0.111505
NEAREST_STN_DIST    0.099240
LAND_AREA           0.081050
LATITUDE            0.046942
NEAREST_SCH_DIST    0.024078
Name: PRICE, dtype: float64

In [21]:
test['SUBURB'] = test['SUBURB'].fillna(train['SUBURB'].mean())

In [22]:
def month_sold(date):
    return int(date[:2])

def year_sold(date):
    return int(date[3:-1])

In [23]:
train['MONTH_SOLD'] = train['DATE_SOLD'].apply(month_sold)
train['YEAR_SOLD'] = train['DATE_SOLD'].apply(year_sold)

In [24]:
test['MONTH_SOLD'] = test['DATE_SOLD'].apply(month_sold)
test['YEAR_SOLD'] = test['DATE_SOLD'].apply(year_sold)

In [25]:
train.drop('DATE_SOLD', axis=1, inplace=True)
test.drop('DATE_SOLD', axis=1, inplace=True)

In [26]:
train['FA/LA'] = train['FLOOR_AREA'] / train['LAND_AREA']
test['FA/LA'] = test['FLOOR_AREA'] / test['LAND_AREA']

In [27]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
SUBURB              0.728384
NEAREST_STN         0.581367
FLOOR_AREA          0.539515
NEAREST_SCH_RANK    0.454122
BATHROOMS           0.386566
CBD_DIST            0.357340
BEDROOMS            0.256913
FA/LA               0.220240
LONGITUDE           0.183518
POSTCODE            0.163032
GARAGE              0.148633
BUILD_YEAR          0.148597
ADDRESS             0.111505
NEAREST_STN_DIST    0.099240
YEAR_SOLD           0.084474
LAND_AREA           0.081050
LATITUDE            0.046942
NEAREST_SCH_DIST    0.024078
MONTH_SOLD          0.001529
Name: PRICE, dtype: float64

In [28]:
def fix_sch(sch):
    fs = sch.split()
    return fs[-1]

In [29]:
# COLLEGE 1
# SHCOOL 2
# 대안학교 3

dict_sch = {
    'COLLEGE':1,
    'SCHOOL':2,
    'ARTS':1,
    'CAMPUS':2,
    'KEWDALE':1,
    'ALTA-1':3,
    'AUSTRALIA':2,
    'PERTH':1,
    'GIRLS':2,
    'WA':3,
    'ACADEMY':3,
    'GRAMMAR':2
}

In [30]:
train['SCH_FIX'] = train['NEAREST_SCH'].apply(fix_sch)
test['SCH_FIX'] = test['NEAREST_SCH'].apply(fix_sch)

In [31]:
train['SCH_FIX'] = train['SCH_FIX'].map(dict_sch)
test['SCH_FIX'] = test['SCH_FIX'].map(dict_sch)

In [32]:
train['GARAGE'].fillna(2.0, inplace=True)
test['GARAGE'].fillna(2.0, inplace=True)

In [33]:
train.corr()['BUILD_YEAR'].abs().sort_values(ascending=False)

BUILD_YEAR          1.000000
BATHROOMS           0.345818
FA/LA               0.340308
ADDRESS             0.284111
CBD_DIST            0.258195
BEDROOMS            0.234340
FLOOR_AREA          0.230543
NEAREST_STN         0.207481
SUBURB              0.190254
NEAREST_SCH_RANK    0.151487
PRICE               0.148597
NEAREST_SCH_DIST    0.096927
NEAREST_STN_DIST    0.090686
YEAR_SOLD           0.081925
SCH_FIX             0.076210
LONGITUDE           0.063949
GARAGE              0.049482
LATITUDE            0.045304
POSTCODE            0.039018
LAND_AREA           0.007547
MONTH_SOLD          0.001451
Name: BUILD_YEAR, dtype: float64

In [34]:
train.columns

Index(['ADDRESS', 'SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE', 'NEAREST_SCH',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX'],
      dtype='object')

In [35]:
bui = train[['ADDRESS', 'SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX', 'BUILD_YEAR']]
bui.head(3)

,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK,MONTH_SOLD,YEAR_SOLD,FA/LA,SCH_FIX,BUILD_YEAR
ID,,,,,,,,,,,,,,,,,,,,
0,3,272,5,2,4.0,674,266,35500,59,3000,6030,-31.656206,115.720566,1.079230,120.0,9,2015,0.394659,1,2007.0
1,5,178,5,4,2.0,540,301,16900,31,8100,6065,-31.800802,115.867675,0.667585,NaN,7,2018,0.557407,2,2014.0
2,5,96,4,2,2.0,781,220,33500,46,3500,6030,-31.682040,115.702600,0.650761,111.0,2,2020,0.281690,1,1992.0

In [36]:
bui_train = bui[bui['BUILD_YEAR'].notnull()]
bui_test = bui[bui['BUILD_YEAR'].isnull()][['ADDRESS', 'SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX', 'BUILD_YEAR']]
bui_X = bui_train[['ADDRESS', 'SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX']]
bui_y = bui_train['BUILD_YEAR']

In [37]:
from sklearn.ensemble import HistGradientBoostingRegressor

hgbr = HistGradientBoostingRegressor()

In [38]:
from sklearn.model_selection import cross_val_score

In [39]:
hgbr_result = cross_val_score(hgbr, bui_X, bui_y, cv=5)

print('hgbr_result:', hgbr_result)
print('hgbr_mean:', hgbr_result.mean())

hgbr_result: [0.57820298 0.56897643 0.56177586 0.5751677  0.58804166]
hgbr_mean: 0.5744329250229498

In [40]:
hgbr.fit(bui_X, bui_y)

HistGradientBoostingRegressor()

In [41]:
bui_pre = hgbr.predict(bui_test[['ADDRESS', 'SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX']])

In [42]:
bui_test['BUILD_YEAR'] = bui_pre

In [43]:
train['BUILD_YEAR'].fillna(bui_test['BUILD_YEAR'], inplace=True)
train['BUILD_YEAR'].isnull().sum()

0

In [44]:
bui = test[['ADDRESS', 'SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX', 'BUILD_YEAR']]
bui.head(3)

,ADDRESS,SUBURB,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,NEAREST_SCH_RANK,MONTH_SOLD,YEAR_SOLD,FA/LA,SCH_FIX,BUILD_YEAR
ID,,,,,,,,,,,,,,,,,,,,
18510,1,124.0,3,2,3.0,2199,159,29600,41,15600,6073,-31.899705,116.166117,1.341198,NaN,3,2019,0.072306,1,1950.0
18511,14,15.0,4,3,2.0,509,341,8200,16,2000,6152,-32.018620,115.858900,0.882405,23.0,8,2017,0.669941,1,2001.0
18512,3,59.0,4,3,2.0,725,251,10500,21,2700,6154,-32.042090,115.826290,1.639635,34.0,7,2018,0.346207,2,1982.0

In [45]:
bui_test = bui[bui['BUILD_YEAR'].isnull()][['ADDRESS', 'SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX', 'BUILD_YEAR']]

In [46]:
bui_pre = hgbr.predict(bui_test[['ADDRESS', 'SUBURB', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX']])

In [47]:
bui_test['BUILD_YEAR'] = bui_pre

In [48]:
test['BUILD_YEAR'].fillna(bui_test['BUILD_YEAR'], inplace=True)
test['BUILD_YEAR'].isnull().sum()

0

In [49]:
train['YEAR_DIFF'] = train['YEAR_SOLD'] - train['BUILD_YEAR']
test['YEAR_DIFF'] = test['YEAR_SOLD'] - test['BUILD_YEAR']

In [50]:
train.corr()['PRICE'].abs().sort_values(ascending=False)

PRICE               1.000000
SUBURB              0.728384
NEAREST_STN         0.581367
FLOOR_AREA          0.539515
NEAREST_SCH_RANK    0.454122
BATHROOMS           0.386566
CBD_DIST            0.357340
BEDROOMS            0.256913
FA/LA               0.220240
LONGITUDE           0.183518
YEAR_DIFF           0.167679
POSTCODE            0.163032
BUILD_YEAR          0.153219
GARAGE              0.145184
ADDRESS             0.111505
NEAREST_STN_DIST    0.099240
YEAR_SOLD           0.084474
LAND_AREA           0.081050
LATITUDE            0.046942
NEAREST_SCH_DIST    0.024078
SCH_FIX             0.021598
MONTH_SOLD          0.001529
Name: PRICE, dtype: float64

In [51]:
train[['NEAREST_SCH', 'NEAREST_SCH_RANK']].groupby('NEAREST_SCH').mean().sort_values('NEAREST_SCH_RANK')

                                      NEAREST_SCH_RANK
NEAREST_SCH
PERTH MODERN SCHOOL                                1.0
ST HILDA'S ANGLICAN SCHOOL FOR GIRLS               2.0
CHRIST CHURCH GRAMMAR SCHOOL                       3.0
PENRHOS COLLEGE                                    4.0
METHODIST LADIES' COLLEGE                          5.0
...                                                ...
TREETOPS MONTESSORI SCHOOL                         NaN
WARNBRO COMMUNITY HIGH SCHOOL                      NaN
WARWICK SENIOR HIGH SCHOOL                         NaN
YANCHEP SECONDARY COLLEGE                          NaN
YOUTH FUTURES COMMUNITY SCHOOL                     NaN

[159 rows x 1 columns]

In [52]:
train.corr()['NEAREST_SCH_RANK'].abs().sort_values(ascending=False)

NEAREST_SCH_RANK    1.000000
SUBURB              0.501109
NEAREST_STN         0.478378
PRICE               0.454122
CBD_DIST            0.324637
LONGITUDE           0.244226
FA/LA               0.203713
POSTCODE            0.190734
NEAREST_STN_DIST    0.184769
YEAR_DIFF           0.159556
NEAREST_SCH_DIST    0.155256
BUILD_YEAR          0.153969
FLOOR_AREA          0.136397
SCH_FIX             0.130795
ADDRESS             0.116781
BATHROOMS           0.095898
LAND_AREA           0.074042
LATITUDE            0.050279
YEAR_SOLD           0.035431
BEDROOMS            0.029659
GARAGE              0.012849
MONTH_SOLD          0.002343
Name: NEAREST_SCH_RANK, dtype: float64

In [53]:
train.columns

Index(['ADDRESS', 'SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE', 'NEAREST_SCH',
       'NEAREST_SCH_DIST', 'NEAREST_SCH_RANK', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX', 'YEAR_DIFF'],
      dtype='object')

In [54]:
sch = train[['ADDRESS', 'SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX', 'YEAR_DIFF', 'NEAREST_SCH_RANK']]
sch.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,...,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH_DIST,MONTH_SOLD,YEAR_SOLD,FA/LA,SCH_FIX,YEAR_DIFF,NEAREST_SCH_RANK
ID,,,,,,,,,,,,,,,,,,,,,
0,3,272,520000,5,2,4.0,674,266,2007.0,35500,...,6030,-31.656206,115.720566,1.079230,9,2015,0.394659,1,8.0,120.0
1,5,178,575000,5,4,2.0,540,301,2014.0,16900,...,6065,-31.800802,115.867675,0.667585,7,2018,0.557407,2,4.0,NaN
2,5,96,760000,4,2,2.0,781,220,1992.0,33500,...,6030,-31.682040,115.702600,0.650761,2,2020,0.281690,1,28.0,111.0
3,1,44,1230000,2,1,2.0,425,185,1938.0,3500,...,6016,-31.926046,115.838181,0.484465,7,2020,0.435294,1,82.0,106.0
4,1,18,2010000,3,2,2.0,546,186,2004.0,12900,...,6159,-32.032079,115.759626,1.869050,10,2017,0.340659,1,13.0,25.0

In [55]:
sch_train = sch[sch['NEAREST_SCH_RANK'].notnull()]
sch_test = sch[sch['NEAREST_SCH_RANK'].isnull()][['ADDRESS', 'SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX', 'YEAR_DIFF', 'NEAREST_SCH_RANK']]
sch_X = sch_train[['ADDRESS', 'SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX', 'YEAR_DIFF']]
sch_y = sch_train['NEAREST_SCH_RANK']

In [56]:
from sklearn.ensemble import HistGradientBoostingRegressor
hgbr = HistGradientBoostingRegressor()

In [57]:
from sklearn.model_selection import cross_val_score

In [58]:
sch_result = cross_val_score(hgbr, sch_X, sch_y, cv=5)

In [59]:
print(sch_result)
print(sch_result.mean())

[0.94281315 0.9441503  0.93732413 0.93290545 0.93197696]
0.9378339976646537

In [60]:
hgbr.fit(sch_X, sch_y)

HistGradientBoostingRegressor()

In [61]:
sch_pre = hgbr.predict(sch_test[['ADDRESS', 'SUBURB', 'PRICE', 'BEDROOMS', 'BATHROOMS', 'GARAGE',
       'LAND_AREA', 'FLOOR_AREA', 'BUILD_YEAR', 'CBD_DIST', 'NEAREST_STN',
       'NEAREST_STN_DIST', 'POSTCODE', 'LATITUDE', 'LONGITUDE',
       'NEAREST_SCH_DIST', 'MONTH_SOLD', 'YEAR_SOLD',
       'FA/LA', 'SCH_FIX', 'YEAR_DIFF']])

In [62]:
sch_test['NEAREST_SCH_RANK'] = sch_pre

In [63]:
train['NEAREST_SCH_RANK'].fillna(sch_test['NEAREST_SCH_RANK'], inplace=True)
train['NEAREST_SCH_RANK'].isnull().sum()

0

In [64]:
train[['NEAREST_SCH', 'NEAREST_SCH_RANK']].groupby('NEAREST_SCH').mean().sort_values('NEAREST_SCH_RANK')

                                      NEAREST_SCH_RANK
NEAREST_SCH
PERTH MODERN SCHOOL                           1.000000
ST HILDA'S ANGLICAN SCHOOL FOR GIRLS          2.000000
CHRIST CHURCH GRAMMAR SCHOOL                  3.000000
PENRHOS COLLEGE                               4.000000
METHODIST LADIES' COLLEGE                     5.000000
...                                                ...
ROCKINGHAM MONTESSORI SCHOOL                135.968357
SAFETY BAY SENIOR HIGH SCHOOL               136.000000
DARLING RANGE SPORTS COLLEGE                137.000000
GILMORE COLLEGE                             138.000000
CECIL ANDREWS COLLEGE                       139.000000

[159 rows x 1 columns]

In [65]:
train['NEAREST_SCH_RANK'].head()

ID
0    120.000000
1     74.322663
2    111.000000
3    106.000000
4     25.000000
Name: NEAREST_SCH_RANK, dtype: float64

In [66]:
set(test['NEAREST_SCH']) - set(train['NEAREST_SCH'])

{'SOUTH METROPOLITAN YOUTH LINK COMMUNITY COLLEGE'}

In [67]:
k = train['NEAREST_SCH_RANK'].mean()

In [68]:
a = train[['NEAREST_SCH', 'NEAREST_SCH_RANK']]['NEAREST_SCH']
b = train[['NEAREST_SCH', 'NEAREST_SCH_RANK']]['NEAREST_SCH_RANK']

In [69]:
a[3]

'ARANMORE CATHOLIC COLLEGE'

In [73]:
# 4115, 11523, 14806, 12373, 12576

ns_dict = {}

for i in range(len(a) + 5):
    if i not in [4115, 11523, 14806, 12373, 12576]:    
        ns_dict[a[i]] = b[i]

In [74]:
ns_dict['SOUTH METROPOLITAN YOUTH LINK COMMUNITY COLLEGE'] = k

In [75]:
test['NEAREST_SCH_RANK'] = test['NEAREST_SCH'].map(ns_dict)

In [76]:
train.drop('NEAREST_SCH', axis=1, inplace=True)
test.drop('NEAREST_SCH', axis=1, inplace=True)

In [77]:
from sklearn.ensemble import HistGradientBoostingRegressor

In [78]:
hgbr = HistGradientBoostingRegressor()

In [79]:
from sklearn.model_selection import cross_val_score

y_train = train.pop('PRICE')
X_train = train

In [80]:
hgbr_result = cross_val_score(hgbr, X_train, y_train, cv=5)


print('hgbr_result:', hgbr_result)
print('hgbr_mean:', hgbr_result.mean())

hgbr_result: [0.83287051 0.85330379 0.86000832 0.85098564 0.84081152]
hgbr_mean: 0.8475959556487421

In [81]:
from sklearn.preprocessing import StandardScaler

In [82]:
# 스케일러 생성
scaler = StandardScaler()

# 현재 데이터의 분포 범위 확인
scaler.fit(X_train)

# 데이터 변환
tf_X_train = scaler.transform(X_train)
tf_test = scaler.transform(test)

In [83]:
hgbr_result = cross_val_score(hgbr, tf_X_train, y_train, cv=5)

print('hgbr_result:', hgbr_result)
print('hgbr_mean:', hgbr_result.mean())

hgbr_result: [0.82954972 0.84931242 0.85924838 0.85213226 0.8421432 ]
hgbr_mean: 0.846477198050032

In [84]:
# 예측
hgbr.fit(X_train, y_train)
hgbr_pre = hgbr.predict(test)

# 답안지 파일 불러오기
result = pd.read_csv('data/sample_submission.csv')

# 예측값 초기화
result['PRICE'] = hgbr_pre

# df -> csv 저장
result.to_csv('try07_hgbr.csv', index=False)

In [85]:
hgbr2 = HistGradientBoostingRegressor()


# 예측
hgbr2.fit(tf_X_train, y_train)
hgbr2_pre = hgbr2.predict(tf_test)

# 답안지 파일 불러오기
result = pd.read_csv('data/sample_submission.csv')

# 예측값 초기화
result['PRICE'] = hgbr2_pre

# df -> csv 저장
result.to_csv('try07_hgbr2.csv', index=False)